body {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

.versus {
    text-align: center;
    flex-direction: column;
    color: crimson;
    margin: 100px;
  }

.stats {
  display: flex;

}




  